span{
    color: rgb(204, 0, 255);
    float: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;

}
*{
    background-color: rgb(255, 255, 255);
}
span2{
    color: rgb(204, 0, 255);
    float: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;

}
span3{
    color: rgb(204, 0, 255);
    float: right;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;

}
span4{
    color: rgb(204, 0, 255);
    float: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;

}
span5{
    color: rgb(204, 0, 255);
    float: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;

}
span6{
    color: rgb(204, 0, 255);
    float: right;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;

}
span7{
    color: rgb(204, 0, 255);
    float: right;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;

}
span8{
    color: rgb(204, 0, 255);
    float: left;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;

}
span9{
    color: rgb(204, 0, 255);
    float: left;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;

}
span10{
    color: rgb(204, 0, 255);
    float: left;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;

}
span11{
    color: rgb(204, 0, 255);
    float: left;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;

}
span12{
    color: rgb(204, 0, 255);
    float: left;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;

}
span13{
    color: rgb(204, 0, 255);
    float: left;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;

}
span14{
    color: rgb(204, 0, 255);
    float: left;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;

}
h1{
    color: rgb(13, 0, 255);
    padding-left: 480px;
}
a{
    color: rgb(0, 0, 0);
    text-decoration :none;
    font-size: 20px;
}

