.img{
    border-radius: 2500px;
    width: 180px;
}
h1{
    color: rgb(13, 0, 255);
    padding-left: 400px;
}
a{
    color: rgb(0, 0, 0);
    text-decoration :none;
    font-size: 20px;
}
*{
    background-color: rgb(0, 204, 255);
}